<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/estilo.css">
</head>
<body>
    <h1>Reservas para Verificação</h1>
    <form action="processar_reservas.php" method="post">
        <table>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Périodo de reserva</th>
                <th>Ação</th>
            </tr>
            <tr>
                <td>John Doe</td>
                <td>johndoe@example.com</td>
                <td>2023-07-15</td>
                <td>
                    <button type="submit" name="aceitar_1">Aceitar</button>
                    <button type="submit" name="descartar_1">Descartar</button>
                </td>
            </tr>
        </table>
    </form>
    <a href="dashboard.html" class="dashboard-button back-button">Voltar</a>
</body>
</html>
