<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/estilo.css">
</head>
<body>
    <div class="dashboard-container">
        <h1>Dashboard de Administração</h1>

        <a href="checkin_checkout.html">
            <button class="dashboard-button">Verificar reservas</button>
        </a>

        <a href="quartos_ocupados.html">
            <button class="dashboard-button">Ver Quartos Ocupados</button>
        </a>

        <button id="logoutButton" class="dashboard-button">Logout</button>
    </div>

    <script>
        document.getElementById("logoutButton").addEventListener("click", function() {
            event.preventDefault();
            window.location.href = "login.html";
        });
    </script>
</body>


</html>
