<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/estilo.css">
</head>
<body>
    <div class="container">
        <h2>Quartos Ocupados</h2>
        <table id="quartosOcupadosTable">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Unidade</th>
                    <th>Número do Quarto</th>
                    <th>Hospedagem</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <a href="dashboard.html" class="dashboard-button back-button">Voltar</a>
    </div>
</body>
</html>
