<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TetraVago</title>
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="shortcut icon" href="img/logo2.png" type="image/x-icon">
</head>
<body>
    <header>
        <div class="logo">
            <li><a href="index.html"><img src="img/tetralogo.png" alt="Logotipo TetraVago"></a></li>
        </div>

        <nav>
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="hoteis.html">HOTEIS</a></li>
                <li><a href="contato.html">CONTATO</a></li>
                <li><a href="sobre.html">SOBRE</a></li>
                <li><a href="cadastro.html">CADASTRAR</a></li>
                <li><a href="entrar.html">LOGIN</a></li>             
            </ul>
        </nav>
    </header>
</body>

<!-- Conteúdo do cadastro -->
<div class="cadastro">
    <div class="cad" id="cadastro">
        <h1>Cadastro de Clientes</h1>
        <form action="cadastro.php" method="POST">
            <input type="text" id="nome" name = "nome" placeholder="Digite seu nome completo"> <br>

            <input type="email" id="email" name = "email" placeholder="Digite seu e-mail"> <br>

            <input type="password" id="senha" name = "senha" placeholder="Digite uma senha segura"> <br>

            <input type="submit" id="b-cadastro" name = "submit" value="CADASTRAR-SE">
        </form>
    </div>

    <div class="cad">
        <img src="img/cadastro.png" alt="Cadastro Tetravago">
    </div>


</div>
<!--INICIO DAS PROMOÇÕES DO MÊS-->
<div class="promocao">
    <img src="img/ferias.png" alt="promoção ferias">
 </div>
 
<!-- Conteúdo do rodapé -->
<footer>
    <div class="rodape">
        <ul>
            <li><a href="index.html">HOME</a></li>
            <li><a href="hoteis.html">HOTEIS</a></li>
            <li><a href="contato.html">CONTATO</a></li>
            <li><a href="sobre.html">SOBRE</a></li>
            <li><a href="cadastro.html">CADASTRAR</a></li>
            <li><a href="entrar.html">LOGIN</a></li> 
        </ul>
        <p>Sala A103 n°2023 - Bairro IMD</p>
        <p>Natal - RN</p>
    </div>
</footer>