<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TetraVago</title>
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="shortcut icon" href="img/logo2.png" type="image/x-icon">
</head>
<body>
    <header>
        <div class="logo">
            <li><a href="index.html"><img src="img/tetralogo.png" alt="Logotipo TetraVago"></a></li>
        </div>

        <nav>
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="hoteis.html">HOTEIS</a></li>
                <li><a href="contato.html">CONTATO</a></li>
                <li><a href="sobre.html">SOBRE</a></li>
                <li><a href="cadastro.html">CADASTRAR</a></li>
                <li><a href="entrar.html">LOGIN</a></li>             
            </ul>
        </nav>
    </header>
</body>