<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TetraVago</title>
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="shortcut icon" href="img/logo2.png" type="image/x-icon">
</head>
<body>
    <header>
        <div class="logo">
            <li><a href="index.html"><img src="img/tetralogo.png" alt="Logotipo TetraVago"></a></li>
        </div>

        <nav>
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="hoteis.html">HOTEIS</a></li>
                <li><a href="contato.html">CONTATO</a></li>
                <li><a href="sobre.html">SOBRE</a></li>
                <li><a href="cadastro.html">CADASTRAR</a></li>
                <li><a href="entrar.html">LOGIN</a></li>             
            </ul>
        </nav>
    </header>
</body>

    <!--INICIO DA CONSTRUÇÃO DO BANNER-->
<main>
    <div class="banner">
        <div class="cycle-slideshow"
        data-cycle-fx = "scrollHorz"
        data-cycle-pause-on-hover="true"
        data-cycle-speed="400"
        >
        <img  src="img/banner1.png" alt="campanha Tetravago">
        <img  src="img/banner2.png" alt="campanha Tetravago 2">
        <img  src="img/banner3.png" alt="campanha Tetravago 3">
        </div>
    </div>

    <!--INICIO DOS CARDES-->
    
    <div class="cards">
        <div class="hoteis">
            <img src="img/hotel1.png" alt="Hotel 1">
            <h3>Hotel 1</h3>
            <p>R$ 599,90</p>
            <a href="#">SAIBA MAIS</a>
        </div>

        <div class="hoteis">
            <img src="img/hotel2.png" alt="Hotel 2">
            <h3>Hotel 2</h3>
            <p>R$ 799,90</p>
            <a href="#">SAIBA MAIS</a>
        </div>

        <div class="hoteis">
            <img src="img/hotel3.png" alt="Hotel 3">
            <h3>Hotel 3</h3>
            <p>R$ 999,90</p>
            <a href="#">SAIBA MAIS</a>
        </div>

        <div class="hoteis">
            <img src="img/hotel4.png" alt="Hotel 4">
            <h3>Hotel 4</h3>
            <p>R$ 999,90</p>
            <a href="#">SAIBA MAIS</a>
        </div>

        <div class="hoteis">
            <img src="img/hotel5.png" alt="Hotel 5">
            <h3>Hotel 5</h3>
            <p>R$ 1249,90</p>
            <a href="#">SAIBA MAIS</a>
        </div>

        <div class="hoteis">
            <img src="img/hotel6.png" alt="Hotel 6">
            <h3>Hotel 6</h3>
            <p>R$ 1799,90</p>
            <a href="#">SAIBA MAIS</a>
        </div>

        <div class="hoteis">
            <img src="img/hotel7.png" alt="Hotel 7">
            <h3>Hotel 7</h3>
            <p>R$ 2600,00</p>
            <a href="#">SAIBA MAIS</a>
        </div>

        <div class="hoteis">
            <img src="img/hotel8.png" alt="Hotel 8">
            <h3>Hotel 8</h3>
            <p>R$ 1300,00</p>
            <a href="#">SAIBA MAIS</a>
        </div>

        <div class="hoteis">
            <img src="img/hotel9.png" alt="Hotel 9">
            <h3>Hotel 9</h3>
            <p>R$ 1050,00</p>
            <a href="#">SAIBA MAIS</a>
        </div>

        <div class="hoteis">
            <img src="img/hotel10.png" alt="Hotel 10">
            <h3>Hotel 10</h3>
            <p>R$ 1179,90</p>
            <a href="#">SAIBA MAIS</a>
        </div>
    </div>

    <!--INICIO DAS PROMOÇÕES DO MÊS-->
    <div class="promocao">
        <img src="img/ferias.png" alt="promoção ferias">
    </div>

    <!--INICIO DAS FORMAS DE PAGAMENTO-->
    <div class="pagamento">
        <div class="pag">
            <h3>Pagamento rápido e seguro</h3>
            <p>Com cartão</p>
            <img src="img/money.png" alt="Pagamento Tetravago">
        </div>
        
        <div class="pag">
            <h3>Apenas no débito</h3>
            <p>Com cartão</p>
            <img src="img/money1.png" alt="Pagamento com cartão Tetravago">
        </div>

        <div class="pag">
            <h3>Não parcelamos</h3>
            <p>Com cartão</p>
            <img src="img/card.png" alt="Pagamento com cartão Tetravago">
        </div>

        <div class="pag">
            <h3>PIX</h3>
            <p>Rápido e seguro</p>
            <img src="img/pix.png" alt="Pagamento com PIX Tetravago">
        </div>
    </div>

    <!-- Conteúdo do rodapé -->
<footer>
    <div class="rodape">
        <ul>
            <li><a href="index.html">HOME</a></li>
            <li><a href="hoteis.html">HOTEIS</a></li>
            <li><a href="contato.html">CONTATO</a></li>
            <li><a href="sobre.html">SOBRE</a></li>
            <li><a href="cadastro.html">CADASTRAR</a></li>
            <li><a href="entrar.html">LOGIN</a></li> 
        </ul>
        <p>Sala A103 n°2023 - Bairro IMD</p>
        <p>Natal - RN</p>
    </div>
</footer>

</main>


<!-- Conteúdo de JavaScript -->
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"> </script>
    <script src="js/circle.js"></script>
    

</html>