<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>TetraVago</title>
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="shortcut icon" href="img/logo2.png" type="image/x-icon">
</head>
<body>
    <header>
        <div class="logo">
            <li><a href="index"><img src="img/tetralogo.png" alt="Logotipo TetraVago"></a></li>
        </div>

        <nav>
            <ul>
                <li><a href="index">HOME</a></li>
                <li><a href="hoteis">HOTEIS</a></li>
                <li><a href="sobre">SOBRE</a></li>
                <li><a href="cadastro">CADASTRAR</a></li>
                <li><a href="entrar">LOGIN</a></li> 
                <li>
                    <a href="usuario">
                        <i class="fas fa-user user-icon"></i> <!-- Ícone de usuário com a classe "user-icon" -->
                    </a>
                </li>            
            </ul>
        </nav>
    </header>
</body>

 <!-- about -->

 <section class="about" id="about">

    <div class="row">
       <div class="content">
          <p class="texto-justificado">
            &emsp;Bem-vindo à TetraVago - seu destino para reservas de quartos de hotel!
            &emsp;Na TetraVago, temos o prazer de oferecer a você uma experiência excepcional de reserva de quartos de hotel. Com anos de experiência no ramo da hospitalidade, nos tornamos líderes no fornecimento de acomodações confortáveis e serviços de alta qualidade para viajantes de todo o mundo.<br>
            &emsp;Nossa missão é proporcionar a você uma estadia memorável, onde o conforto e a satisfação do cliente são as nossas principais prioridades. Trabalhamos em estreita colaboração com uma vasta rede de hotéis cuidadosamente selecionados, garantindo que você tenha acesso a uma variedade de opções de acomodação para atender às suas necessidades e preferências.
            &emsp;Com a TetraVago, você pode escolher entre uma ampla seleção de quartos, desde luxuosos e elegantes até práticos e econômicos. Nossos quartos são cuidadosamente avaliados para garantir que atendam aos mais altos padrões de qualidade, proporcionando conforto e comodidade aos nossos clientes.<br>
            &emsp;Além disso, nosso site de reservas user-friendly torna o processo de reserva rápido, simples e seguro. Basta explorar nossas opções de quartos, selecionar as datas desejadas e garantir a sua reserva com apenas alguns cliques. E, se surgir alguma dúvida ou precisar de assistência, nossa equipe de atendimento ao cliente estará pronta para ajudá-lo em todas as etapas do caminho.
            &emsp;Na TetraVago, estamos comprometidos em fornecer uma experiência excepcional desde o momento em que você faz a reserva até o momento do check-out. Quer você esteja viajando a negócios, em férias em família ou apenas buscando uma escapada relaxante, temos o quarto perfeito esperando por você.<br>
            &emsp;Explore nosso site, conheça nossas opções de acomodação e comece a planejar sua próxima viagem com a TetraVago. Estamos ansiosos para recebê-lo e tornar sua estadia inesquecível!
            &emsp;Se você tiver alguma pergunta adicional ou precisar de mais informações, não hesite em nos contatar. Estamos aqui para ajudá-lo a aproveitar ao máximo sua experiência de reserva de quartos de hotel.
          </p>
       </div>
    </div>

 </section>
<!--INICIO DAS PROMOÇÕES DO MÊS-->
<div class="promocao">
    <img src="img/ferias.png" alt="promoção ferias">
</div>

<!--INICIO DAS FORMAS DE PAGAMENTO-->
<div class="pagamento">
    <div class="pag">
        <h3>Pagamento rápido e seguro</h3>
        <p>Com cartão</p>
        <img src="img/money.png" alt="Pagamento Tetravago">
    </div>
    
    <div class="pag">
        <h3>Apenas no débito</h3>
        <p>Com cartão</p>
        <img src="img/money1.png" alt="Pagamento com cartão Tetravago">
    </div>

    <div class="pag">
        <h3>Não parcelamos</h3>
        <p>Com cartão</p>
        <img src="img/card.png" alt="Pagamento com cartão Tetravago">
    </div>

    <div class="pag">
        <h3>PIX</h3>
        <p>Rápido e seguro</p>
        <img src="img/pix.png" alt="Pagamento com PIX Tetravago">
    </div>
</div>

<!-- Conteúdo do rodapé -->
<footer>
<div class="rodape">
    <ul>
        <li><a href="index">HOME</a></li>
        <li><a href="hoteis">HOTEIS</a></li>
        <li><a href="sobre">SOBRE</a></li>
        <li><a href="cadastro">CADASTRAR</a></li>
        <li><a href="entrar">LOGIN</a></li> 
    </ul>
    <p>Sala A103 n°2023 - Bairro IMD</p>
    <p>Natal - RN</p>
</div>
</footer>
 <!-- end -->