/* Configurações da Fonte do Site */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

/* Configurações das Cores */
:root {
  --cor1: #0D2039;
  --cor2: #F7E7CE;
  --cor3: #000000;
  --cor4: #ffffff;
  --cor5: #ccc;
  --cor6: #333;
  --primary:#0077b6;
  --secondary:#48cae4;
  --black:#333;
  --white:#fff;
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

/* Configurações dos Navegadores */
* {
  font-family: 'ubuntu', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: .2s linear;
}

/* Formatação do Body */
body {
  background-color: var(--cor2);
  height: 100vh;
}

header {
  max-width: 95%;
  height: auto;
  margin: 0 auto;
  background-color: var(--cor1);
  text-align: center;
  border-radius: 0px 0px 12px 12px;
  padding-top: 1rem;
  box-shadow: 0px 4px 3px var(--cor3);
}

nav li {
  display: inline-block;
  margin: 2rem 1rem;
}

nav a {
  color: var(--cor4);
}

nav a:hover {
  color: var(--cor2);
  border-bottom: 4px solid;
}

/* CONFIGURAÇÕES DO MAIN */
main {
  width: 100%;
  min-width: 320px;
  text-align: center;
  margin: 0 auto;
  padding-top: 1rem;
  height: calc(100vh - 80px);
}

/* CONFIGURAÇÕES DO BANNER */
.banner {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  
}

.banner img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 95%;
  max-height: 95%;
  margin: 2rem 1rem;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  object-fit: contain;
  border: 1px solid var(--cor2);
  border-radius: 10px;
}

.banner img.active {
  opacity: 1;
}

.cycle-slideshow img {
  width: 100%;
  margin: 0 auto;
}

/* FORMATAÇÃO DOS CARDS HOTEIS */
.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 1rem;
  padding-inline-end: 1rem;
}

.hoteis {
  width: 30%;
  margin-bottom: 20px;
  border: 1px solid var(--cor5);
  border-radius: 5px;
  padding: 5px;
  padding-top: 1rem;
  background-color: var(--cor1);
  box-shadow: 0px 4px 3px var(--cor3); /* se eu quiser tirar a sombra dos cards */
}

.hoteis img {
  width: 95%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 3px var(--cor3);
}

.hoteis h3 {
  font-size: 1.2em; /* Tamanho da fonte proporcional */
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--cor2);
}

.hoteis p {
  font-size: 0.9em; /* Tamanho da fonte proporcional */
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--cor2);
}

.hoteis a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--cor2);
}

/* Configurações das promoções */
.promocao {
  display: flex;
  justify-content: center;
  align-items: center;
}

.promocao img {
  max-width: 95%;
  max-height: 95%;
  margin: 2rem 1rem;
  border: 1px solid var(--cor2);
  border-radius: 10px;
}

/* Configurações dos pagamentos */
.pagamento{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  margin: 1% auto;
  border: 1px solid var(--cor5);
  background-color: var(--cor1);
  border-radius: 12px 12px 12px 12px;
  padding-top: 1rem;
  box-shadow: 0px 4px 3px var(--cor3);
}

.pagamento img {
  max-width: 60%;
  max-height: 60%;
}

.pag{
  padding: 1%;
}

.pag h3{
  color:var(--cor2);
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9rem;
}

.pag p{
  color:var(--cor5);
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8rem;
}

.pag img{
  padding-top: 8%;

}


/* Estilos do rodapé */
footer {
  max-width: 95%;
  height: auto;
  margin: 0 auto;
  background-color: var(--cor1);
  text-align: center;
  border-radius: 0px 0px 12px 12px;
  padding-top: 1rem;
  box-shadow: 0px 4px 3px var(--cor3);
}

.rodape {
  text-align: center;
}

.rodape ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8rem;
}

.rodape li {
  display: inline-block;
  
  margin-right: 10px;
}

.rodape a {
  text-decoration: none;
  color: var(--cor2);
  font-weight: bold;
}

.rodape p {
  margin: 5px 0;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  color: var(--cor4);
}


/*FORMATAÇÃO DA PÁGINA DE CADASTRO*/
.cadastro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: var(--cor2);
  margin: 2% auto;
  width: 90%;
  max-width: 900px;
  border-radius: 10px;
  padding: 20px;
  margin-top: 50px;
}

.cad {
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin-bottom: 20px;
}

.cad h1 {
  font-size: 24px;
  text-align: center;
  color: var(--cor1);
  font-weight: 700;
  margin-bottom: 20px;
}

.cad input[type="text"],
.cad input[type="email"],
.cad input[type="password"] {
  width: 100%;
  height: 50px;
  color: var(--cor1);
  text-align: center;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
  padding: 5px;
  box-sizing: border-box;
}

.cad input[type="submit"] {
  width: 100%;
  height: 50px;
  padding: 1%;
  background-color: var(--cor1);
  color: var(--cor2);
  border: none;
  margin-top: 20px;
  border-radius: 10px;
}

.cad input[type="submit"]:hover {
  background-color: green;
  cursor: pointer;
}

.cad img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/*CONFIGURAÇÕES DA PÁGINA DE LOGIN*/
.login{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--cor2);
  margin: 2% auto;
  width: 90%;
  max-width: 900px;
  border-radius: 10px;
  padding: 20px;
  margin-top: 50px;
}

.logar {
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin-bottom: 20px;
}

.logar h1 {
  font-size: 24px;
  text-align: center;
  color: var(--cor1);
  font-weight: 700;
  margin-bottom: 20px;
}


.logar input[type="email"],
.logar input[type="password"] {
  width: 100%;
  height: 50px;
  color: var(--cor1);
  text-align: center;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
  padding: 5px;
  box-sizing: border-box;
}

.logar input[type="submit"] {
  width: 100%;
  height: 50px;
  padding: 1%;
  background-color: var(--cor1);
  color: var(--cor2);
  border: none;
  margin-top: 20px;
  border-radius: 10px;
}

.logar input[type="submit"]:hover {
  background-color: green;
  cursor: pointer;
}

/*FORMATAÇÃO DA AREA DO USUARIO*/
/* Estilos para a barra superior */
.barra_top {
  background-color: var(--cor1);
  color: var(--cor2);
  padding: 1.5vw;
  display: flex;
  margin: 2% auto;
  padding: 1% 5%;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  border-radius: 10px 10px 0 0;
}

.barra_top h1 {
  margin: 0;
  font-size: 2.5vw;
  font-weight: 700;
}

/* Estilos para a barra de saída */
.barra_top a {
  color: var(--cor2);
  text-decoration: none;
  font-size: 2.5vw;
  transition: color 0.3s ease;
  border-radius: 10px 10px 0 0;
  font-weight: 700;
}

.barra_top a:hover {
  color: red;
}

/* Estilos para a seção do usuário */
.usuario {
  background-color: var(--cor5);
  padding: 2vw;
  text-align: center;
  margin: -2% auto;
  font-weight: 700;
  width: 95%;
  border-radius: 0 0 10px 10px;
}

.usuario h2 {
  color: var(--cor1);
  margin: 0;
  font-size: 3vw;
  font-weight: 700;
  padding: 2vw;
}

.usuario p {
  color: var(--cor1);
  font-size: 2vw;
  margin-top: 1vw;
  font-weight: 700;
}


/* Estilos para a seção dos hoteis */
.banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 95%;
    height: 95%;
    margin-top: 20px; /* Ajuste o valor da margem superior conforme desejado */
}

.banner img {
    width: 95%;
    height: auto;
    display: none;
    margin: 0 2.5%; /* Adiciona uma margem de 2.5% nas laterais para obter uma margem total de 5% */
}

.banner img.active {
    display: block;
}

.previous-button,

.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--cor2);
    border: none;
    color: var(--cor1);
    font-size: 24px;
    cursor: pointer;
    z-index: 1;
    transition: opacity 0.3s;
}

.previous-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

.previous-button:hover,
.next-button:hover {
    opacity: 0.8;
}


/* Estilo dos rooms */

html{
  font-size: 75.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  width: .8rem;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: var(--primary);
  border-radius: .5rem;
}

section{
  padding: 5rem 7%;
}

.heading {
  font-size: 4rem;
  color: var(--cor1);
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 3rem;
  font-weight: bold;
}


.btn{
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: var(--cor1);
  border-radius: .5rem;
  color: var(--white);
  font-size: 1.7rem;
  cursor: pointer;
}

.btn:hover{
  background: var(--primary);
}

.room .slide{
  background: var(--white);
  border: .1rem solid rgba(0, 0, 0, 0.2);
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  margin-bottom: 4rem;
}

.room .slide .img{
  height: 25rem;
  width: 100%;
  padding: 1.5rem;
  overflow: hidden;
  position: relative;
}

.room .slide .img img{
  width: 100%;
  height: 100%;
  border-radius: .5rem;
  object-fit: cover;
}

.room .slide .img .price{
  position: absolute;
  top: 2.5rem; left: 2.5rem;
  background: var(--primary);
  color: var(--white);
  font-size: 1.7rem;
  padding: .5rem 1rem;
  border-radius: .5rem;
  text-transform: lowercase;
}

.room .slide .img .fa-shopping-cart{
  position: absolute;
  top: 2.5rem; right: 2.5rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  text-align: center;
  font-size: 2rem;
  background: var(--white);
  color: var(--black);
  border-radius: 50%;
}

.room .slide .img .fa-shopping-cart:hover{
  background: var(--secondary);
  color: var(--white);
}

.room .slide .content{
  padding: 2rem;
  padding-top: 0;
}

.room .slide .content h3{
  font-size: 2.5rem;
  color: var(--black);
}

.room .slide .content p{
  font-size: 1.6rem;
  color: var(--black);
  padding: .5rem 0;
  line-height: 1.5;
}

.room .slide .content .estrela{
  padding: 1rem 0;
}

.room .slide .content .estrelas i{
  font-size: 1.7rem;
  color: var(--cor1);
}

/* Fim */

/* availability */

.availability form{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  background: #eee;
  padding: 2rem;
  border-radius: .5rem;
}

.availability form .box{
  flex: 1 1 20rem;
}

.availability form .box p{
  font-size: 2rem;
  color: var(--primary);
}

.availability form .box .input{
  width: 100%;
  padding: 1rem;
  font-size: 1.8rem;
  color: var(--black);
  margin: 1rem 0;
  border-radius: .5rem;
}

/* end */

/* about */

.about .row{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 6rem;
}

.about .row .image{
  flex: 1 1 30rem;
}

.about .row .image img{
  width: 100%;
}

.about .row .content{
  flex: 1 1 51rem;
}

.about .row .content h3{
  font-size: 3.5rem;
  color: var(--cor1);
  padding: 2rem 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.about .row .content p{
  font-size: 1.6rem;
  color: var(--cor3);
  padding: 1rem 0;
  line-height: 1.8;
}

/* end */

/* rooms */

.room .slide{
  background: var(--cor2);
  border: .1rem solid rgba(0, 0, 0, 0.2);
  border-radius: .5rem;
  box-shadow: var(--cor2);
  margin-bottom: 4rem;
}

.room .slide .image{
  height: 25rem;
  width: 100%;
  padding: 1.5rem;
  overflow: hidden;
  position: relative;
}

.room .slide .image img{
  width: 100%;
  height: 100%;
  border-radius: .5rem;
  object-fit: cover;
}

.room .slide .image .price{
  position: absolute;
  top: 2.5rem; left: 2.5rem;
  background: var(--cor1);
  color: var(--cor2);
  font-size: 1.7rem;
  padding: .5rem 1rem;
  border-radius: .5rem;
  text-transform: lowercase;
}

/* parte do carrinho do quarto */
.room .slide .image .fa-shopping-cart{
  position: absolute;
  top: 2.5rem; right: 2.5rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  text-align: center;
  font-size: 2rem;
  background: var(--cor2);
  color: var(--cor1);
  border-radius: 50%;
}

.room .slide .image .fa-shopping-cart:hover{
  background: var(--cor1);
  color: var(--cor1);
}

.room .slide .content{
  padding: 2rem;
  padding-top: 0;
}

.room .slide .content h3{
  font-size: 2.5rem;
  color: var(--cor1);
}

.room .slide .content p{
  font-size: 1.6rem;
  color:vAR(--cor6);
  padding: .5rem 0;
  line-height: 1.5;
}

.room .slide .content .stars{
  padding: 1rem 0;
}

.room .slide .content .stars .i{
  font-size: 1.7rem;
  color: var(--cor1);
}

/* end */

/* services */

.services .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem,1fr));
  gap: 2rem;
}

.services .box-container .box{
  text-align: center;
}

.services .box-container .box img{
  height: 10rem;
  margin-bottom: .7rem;
}

.services .box-container .box h3{
  font-size: 1.7rem;
  color: var(--black);
  padding: .5rem 0;
}

/* end */

/* review */

.review{
  background-image: url("images/review.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 48rem;
  position: relative;
  margin: 4rem 0;
}

.review .review-slider{
  background: var(--cor1);
  padding: 2rem;
  width: 100%;
  height: 120%;
  margin-top: -8rem;
  margin-right: 60rem;
  padding-top: 6%;
  color: var(--cor2);
  box-shadow: var(--cor4);
  align-self: center;
  border-radius: 12px 12px 12px 12px;

}

.review .slide{
  text-align: center;
}

.review .slide .heading{
  color: var(--white);
}

.review .slide i{
  font-size: 6rem;
  color: var(--primary);
}

.review .slide p{
  padding-bottom: 1.5rem;
  padding-top: 3rem;
  font-size: 1.5rem;
  line-height: 1.8;
  color: var(--white);
}

.review .slide .user{
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  border-radius: .5rem;
}


.review .slide .user img{
  height: 7rem;
  width: 7rem;
  border-radius: 15%;
  object-fit: cover;
}

.review .slide .user h3{
  font-size: 2rem;
  color: var(--cor2);
  padding-bottom: .5rem;
}

.review .slide .user i{
  font-size: 1.3rem;
  color: var(--primary);
}

/* end */

/* media queries */

@media (max-width:991px){

  html{
      font-size: 55%;
  }

  .header{
      padding: 2rem 3rem;
  }

}

@media (max-width: 768px){

  #menu-btn{
      display: inline-block;
  }

  .header .navbar{
      position: absolute;
      top: 110%; right: -110%;
      width: 30rem;
      box-shadow: var(--box-shadow);
      background: var(--white);
      border-radius: .5rem;
  }

  .header .navbar.active{
      right: 2rem;
      transition: .4s linear;
  }

  .header .navbar a{
      font-size: 2rem;
      margin: 2rem 2.5rem;
      display: block;
  }

  .home .slide .content{
      width: 50rem;
  }

  .review .review-slider{
      width: 100%;
      padding: 1rem;
      padding-top: 15%;
  }

}

@media (max-width: 450px){

  html{
      font-size: 50%;
  }

  .home .slide .content{
      width: 30rem;
  }

  .home .slide .content h3{
      font-size: 3rem;
  }

}

.texto-justificado {
  
  text-align: justify;
  text-indent: 20px; /* Ajuste o valor do recuo conforme desejado */
}

